/*! normalize.css http://github.com/necolas/normalize.css */body {
  background: #f9f9f9;
  color: #bbb;
  font-family: "Times New Roman";
  font-size: 1.25rem;
  font-style: italic;
  line-height: 130%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  word-wrap: break-word; }
  @media screen and (max-width: 47em) {
    body {
      font-size: 1rem; } }

section.full {
  width: 30vw;
  height: 50vh;
  padding: 1.25rem;
}

section.container {
  max-width: 90rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem; }
  @media screen and (max-width: 47em) {
    section.container {
      padding: 0.5rem;
      width: 50vw;
    }
  }

p {
  padding: 0;
  margin: 0 0 1.25rem 0;
}
